---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "A little bit about me",
	title: "About",
};
import portrait from "../assets/portrait.jpg";
---

<PageLayout meta={meta}>
	<h1 class="title text-[30px]">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none text-[15px]">
    <Image
      src={portrait}
      alt="Me"
      width={300}
      height={300}
      class="rounded-full"
    />
		<p>
      Hi, my name is Wonbin Jin.
		</p>
		<p>Here are some things I like</p>
		<ul class="list-inside list-disc" role="list">
			<li>Programming</li>
			<li>Reading (mostly techical books)</li>
			<li>Basketball</li>
      <li>Anime, KDramas, Manga</li>
      <li>Thrifting</li>
      <li>Exploring new restaraunts</li>
		</ul>
	</div>
</PageLayout>
