---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "A little bit about me",
	title: "About",
};
import portrait from "../assets/portrait.jpg";
---

<PageLayout meta={meta}>
	<h1 class="title text-[30px]">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none text-[15px]">
    <Image
      src={portrait}
      alt="Me"
      width={300}
      height={300}
      class="rounded-full"
    />
		<p>
      Hi, my name is Wonbin Jin.
		</p>
		<p>Here are some things I like</p>
		<ul class="list-inside list-disc" role="list">
			<li>Basketball</li>
      <li>Anime, KDramas, Manga</li>
      <li>Thrifting</li>
      <li>Getting take out from restaraunts and watching YouTube while eating</li>
		</ul>
    <p>Here are some of the books I've read/am reading</p>
		<ul class="list-inside list-disc" role="list">
      <li>C++ Software Design</li>
      <li>C++ 17</li>
      <li>Designing Data Intensive Applications</li>
      <li>Operating System in Three Easy Pieces (my favorite)</li>
		</ul>
    <p>My most recently watched anime is: Monster</p>
	</div>
</PageLayout>
